parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #1 $array of function array_unique expects an array of values castable to string, list<mixed> given.'
			identifier: argument.type
			count: 1
			path: src/Extensions/PostalCodeFor.php

		-
			rawMessage: 'Parameter #1 $countryCode of method Axlon\PostalCodeValidation\PostalCodeValidator::passes() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Extensions/PostalCodeFor.php

		-
			rawMessage: 'Parameter #1 $countryCode of method Axlon\PostalCodeValidation\Support\PostalCodeExamples::get() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Extensions/PostalCodeFor.php

		-
			rawMessage: 'Parameter #2 $array of function implode expects array<string>, array<int<0, max>, mixed> given.'
			identifier: argument.type
			count: 1
			path: src/Extensions/PostalCodeFor.php
