parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$countryCode of method Axlon\\PostalCodeValidation\\PostalCodeValidator\:\:passes\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Extensions/PostalCodeFor.php

		-
			message: '#^Property Axlon\\PostalCodeValidation\\PostalCodeValidator\:\:\$patternOverrides \(array\<string, string\>\) does not accept array\<string, string\|null\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/PostalCodeValidator.php

		-
			message: '#^Cannot call method make\(\) on Illuminate\\Foundation\\Application\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/FacadeTest.php

		-
			message: '#^Cannot call method all\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 6
			path: tests/Integration/PostalCodeForTest.php

		-
			message: '#^Cannot call method errors\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 6
			path: tests/Integration/PostalCodeForTest.php

		-
			message: '#^Cannot call method make\(\) on Illuminate\\Foundation\\Application\|null\.$#'
			identifier: method.nonObject
			count: 7
			path: tests/Integration/PostalCodeForTest.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 7
			path: tests/Integration/PostalCodeForTest.php

		-
			message: '#^Cannot call method passes\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 6
			path: tests/Integration/PostalCodeForTest.php

		-
			message: '#^Cannot call method validate\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/PostalCodeForTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertContains\(\) expects iterable, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Integration/PostalCodeForTest.php

		-
			message: '#^Cannot call method all\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: tests/Integration/PostalCodeTest.php

		-
			message: '#^Cannot call method errors\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: tests/Integration/PostalCodeTest.php

		-
			message: '#^Cannot call method make\(\) on Illuminate\\Foundation\\Application\|null\.$#'
			identifier: method.nonObject
			count: 5
			path: tests/Integration/PostalCodeTest.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 5
			path: tests/Integration/PostalCodeTest.php

		-
			message: '#^Cannot call method passes\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: tests/Integration/PostalCodeTest.php

		-
			message: '#^Cannot call method validate\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/PostalCodeTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertContains\(\) expects iterable, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Integration/PostalCodeTest.php

		-
			message: '#^Cannot call method all\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 9
			path: tests/Integration/PostalCodeWithTest.php

		-
			message: '#^Cannot call method errors\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 9
			path: tests/Integration/PostalCodeWithTest.php

		-
			message: '#^Cannot call method make\(\) on Illuminate\\Foundation\\Application\|null\.$#'
			identifier: method.nonObject
			count: 10
			path: tests/Integration/PostalCodeWithTest.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 10
			path: tests/Integration/PostalCodeWithTest.php

		-
			message: '#^Cannot call method passes\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 9
			path: tests/Integration/PostalCodeWithTest.php

		-
			message: '#^Cannot call method validate\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/PostalCodeWithTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertContains\(\) expects iterable, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: tests/Integration/PostalCodeWithTest.php
