includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 10
    checkBenevolentUnionTypes: true
    checkMissingCallableSignature: true
    checkTooWideParameterOutInProtectedAndPublicMethods: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkTooWideThrowTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    reportAlwaysTrueInLastCondition: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportIgnoresWithoutComments: true
    paths:
        - src
        - tests
